<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by WadeZhang on 16-12-13 下午5:42
  ~ Copyright (c) 2016. All rights reserved.
  ~
  ~ Last modified 16-12-1 下午5:21
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.day">

    <uses-sdk android:minSdkVersion="11"
        android:targetSdkVersion="17"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddActivity"/>

        <activity android:name=".CheckActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".EditActivity"/>

        <activity android:name=".NotificationActivity"/>

    </application>

</manifest>
